$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-input-focus: #63b3ed;
$color-input-error: #c53030;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

$border-line-gray: 1px solid $color-grey-dark-2;
$shadow-1: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
$shadow-2: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.6);

$grid-width: 1140px;

$default-font-size: 1.6rem;
