@import '../../sass/variables';

.shopping-cart-container{
  color:#fff;
  cursor: pointer;
  position: fixed;
  top: 5rem;
  right: 2rem;

  width: 4rem;
  height: 4rem;
  border-radius: 9999px;
  background-color: $color-primary-light;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $shadow-1;
  transform: translateX(40rem);


  animation: cartIconAppearance 500ms 500ms ease-out forwards;

}

.shopping-cart-count{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  top: 0;
  right:0;
  background-color: rgba($color-secondary-dark, 1);
  border-radius: 9999px;
}


@keyframes cartIconAppearance{
  0% {
    opacity: 0;
    transform: translateX(40rem);

  }
  25% {
    opacity: .8;
    transform: translateX(0rem);

  }

  75% {
    opacity: 1;
    transform: translateX(-5rem);

  }

  100% {
    opacity: 1;
    transform: translateX(0rem);

  }
}




