@import "../../sass/variables";
@import "../../sass/mixins";

.close-icon {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 4px;
  transition: all 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: red;
    // color: #fff;
  }
}
