@import "../../sass/variables";
@import "../../sass/mixins";

.close-icon {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
 // color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    // background-color: $color-primary-dark;
    color:red;
  }
}
